section.achievements {
    padding: 50px 0;
}

section.achievements ul {
    margin: 0;
}

section.achievements .section-subtitle {
    padding-top: 20px;
}

section.achievements a {
    color: var(--main);
    font-weight: bold;
}

section.achievements .certificates img {
    width: 100%;
    border: 1px solid #CCC;
}


section.achievements .certificates a {
    display: block;
    margin: 10px;
}

section.achievements .certificates a:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
}

section.achievements .certificates-description {
    display: flex;
    align-items: center;
}

section.achievements .certificates {
    display: flex;
    align-items: center;
    justify-content: center;
}