section.achievements {
    padding: 50px 0;
}

section.achievements a {
    color: var(--main);
    font-weight: bold;
}

section.achievements .certificates img {
    width: 100%;
}

section.achievements .certificates-description {
    display: flex;
    align-items: center;
}
