section.prices {
    padding: 50px 0;
    background: linear-gradient(#FFF, rgba(0, 0, 0, .025))
}

.price {
    color: var(--main);
    margin: auto;
    text-align: right;
}

section.prices .table .row {
    padding: 20px 0;
    display: flex;
    margin: auto;
} 
