section.contact {
    background: #40495a;
    color: #FFF;
    padding: 50px 0 60px 0;
}

section.contact h4 {
    letter-spacing: .2em;
    font-size: 15px;
    margin: -10px 0 0 0;
    padding: 10px 0;
    text-transform: uppercase;
}

section.contact .contact-data {
    font-weight: 300;
    margin-bottom: 30px;
}

section.contact a{
    color: #FFF;
    text-decoration: underline;
    font-weight: 300;
}