.cover {
    background-size: cover;
    background-position: top center;
    min-height: 400px;
}

.row-cover {
    background: #40495a;
    color: #FFF;
    min-height: 700px;
}

.cover-text {
    line-height: 1.4;
}