body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

:root {
  --main: #54c1e5; 
  --secondary: #343c49; 
  --suplementary: #fee25f; 
  --suplementary-hover: #ffd728; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: .025em;
}

.btn-primary {
  background-color: var(--main);
  border-color: var(--main);
}

.btn-primary:hover {
  background-color: transparent;
  border-color: var(--main);
  color: var(--main);
}

.btn-warning {
  background-color: var(--suplementary);
  border-color: var(--suplementary);
}

.btn-warning:hover {
  background-color: transparent;
  border-color: var(--suplementary);
  color: var(--suplementary);
}


.section-title {
  padding: 20px 0;
  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #151515;
}

.section-title.dark {
  color: #FFF;
}

p.lead {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}