body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

:root {
  --main: #54c1e5; 
  --secondary: #343c49; 
  --suplementary: #fee25f; 
  --suplementary-hover: #ffd728; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  padding: 20px 0;
  font-size: 34px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: .1em;
  color: var(--secondary);
  text-align: center;
}

.section-subtitle {
    letter-spacing: .1em;
    font-size: 22px;
    padding: 0 0 15px 0;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.btn-primary {
  background-color: var(--main);
  border-color: var(--main);
}

.btn-primary:hover {
  background-color: transparent;
  border-color: var(--main);
  color: var(--main);
}

.btn-warning {
  background-color: var(--suplementary);
  border-color: var(--suplementary);
}

.btn-warning:hover {
  background-color: transparent;
  border-color: var(--suplementary);
  color: var(--suplementary);
}

p.lead {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

section.dark a {
  color: var(--suplementary);
  font-weight: 400;
}

section.dark a:hover {
  color: var(--suplementary-hover);
}

.header-line {
  margin: 0 45%;
  border-top: 5px solid var(--main);
  text-align: center;
  margin-bottom: 30px;
}

.dark {
  color: #FFF;
  border-color: #FFF;
}